body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start; /* Ustawienie zawartości po lewej stronie */
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('tlo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 55%; /* 2/3 szerokości */
    height: 50vh; /* 1/2 wysokości */
    padding: 20px;
    text-align: center;
    background-color: rgba(139, 98, 149, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(167, 17, 201, 0.204);
    overflow-y: auto; /* Dodanie przewijalności */
    position: relative;
    top: 15%; /* 15% od góry */
    left: 7%; /* Pozycjonowanie od lewej krawędzi */
    transform: translateY(0%); /* Usuń translateY(-50%) */
}

/* Przyciski w górnym rogu */
.top-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-to-home {
    background-color: #572468;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.back-to-home:hover {
    background-color: #7f4598;
    transform: scale(1.2); 
}

/* Lista nagrań */
.recording-list {
    list-style: none;
    padding: 0;
}

.recording-list li {
    margin: 10px 0;
}

.recording-list a {
    text-decoration: none;
    font-style:italic;
    text-decoration-line: underline;
    color: #ffffff;
}

.recording-list a:hover {
    text-decoration: underline;
}

.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 900px;
}

#videoPlayer {
    width: 100%;
    height: auto;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.video-navigation {
    margin-top: 10px;
}

.video-navigation button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.video-navigation button:hover {
    background-color: #666;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent; /* Tło przezroczyste, żeby przycisk wyglądał jak "X" */
    color: red; /* Kolor "X" na czerwono */
    border: none;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease; 
}

.close-button:hover {
    background-color: darkred; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); 
}
