<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NoteWriter</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" type="image/x-icon" href="static/logoo.png">
    </head>
<body>
    <div id="timer" class="timer" style="display: none;">Nagrywanie</div>
    <div class="container">
        <h1>Witaj w aplikacji!</h1>
        <button id="events-btn">Zobacz swoje wydarzenia</button>
        <button id="record-btn">Wybierz okno do nagrywania</button>
        <button id="recordings-btn">Zobacz swoje nagrania</button>
        <div id="window-selection" class="selection" style="display: none;">
            <h2>Wybierz okno:</h2>
            <select id="window-list" style="display: none;"></select>
            <div id="selected-window" style="display: none;">
                <button id="change-window-btn">Zmień okno</button>
            </div>
            <div class="button-row">
                <button id="startButton" class="start-button">Rozpocznij nagrywanie</button>
                <button id="stopButton" class="stop-button" disabled>Zakończ nagrywanie</button>
            </div>
            <h2>Zapisz nagranie</h2>
            <input type="text" id="recording-title" placeholder="Podaj tytuł nagrania (nie używaj polskich znaków!)">
            <button id="save-recording" disabled>Zapisz</button>
        </div>
    </div>

    <script src="static/record.js"></script>
</body>
</html>
